<h1>Let's Add A New Friend</h1>
<%= form_for @friend do |f| %>

<div>
	<%= f.label :firstname, "FirstName:" %>
	<%= f.text_field :firstname %>
</div>

<div>
	<%= f.label :lastname, "Last Name:" %>
	<%= f.text_field :lastname %>
</div>

<div>
	<%= f.label :email, "Email:" %>
	<%= f.text_field :email %>
</div>

<div>
	<%= f.label :address, "Address:" %>
	<%= f.text_field :address %>
</div>

<div>
	<%= f.label :city, "City:" %>
	<%= f.text_field :city %>
</div>

<div>
	<%= f.label :state, "State:" %>
	<%= f.text_field :state %>
</div>

<div>
	<%= f.label :zip, "Zip:" %>
	<%= f.text_field :zip %>
</div>

<%= f.submit "Submit" %>

<% end %>
