<nav class="nav">

	<div class="lognav">
		<% if(current_user) %>
		<% end %>

		<% if logged_in? %>
		  Logged in as: <%= current_user.firstname %> <%= link_to 'Log Out', logout_path, method: :delete %>
		<% else %>
		  <%= link_to 'Log In', login_path %>
		<% end %>
	</div>


	<div class="homenav">
		<%= link_to "Home", users_path %>
	</div>

	<div class="lognav2">
		<%= link_to "Sign Up", signup_path %>
	</div>

</nav>